<footer class="bg-dark text-white mt-5 footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Wonderlust</h5>
                <p>Your travel companion for unforgettable journeys.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white">Home</a></li>
                    <li><a href="#" class="text-white">About</a></li>
                    <li><a href="/listing" class="text-white">Services</a></li>
                    <li><a href="#" class="text-white">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-map-marker-alt"></i> 123 Travel Road, Adventure City</li>
                    <li><i class="fas fa-phone"></i> +123 456 7890</li>
                    <li><i class="fas fa-envelope"></i> contact@wonderlust.com</li>
                </ul>
                <div>
                    <a href="#" class="text-white mr-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white mr-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-secondary text-center py-3">
        <p class="mb-0">© 2024 Wonderlust. All Rights Reserved.</p>
    </div>
</footer>